* {
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 99999;
  overflow-y: auto;
  font-family: 'Raleway-regular';
}

.mobile-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.about-container {
  margin-bottom: 5rem;
}

.mobile-close path {
  fill: #FFF;
}

.mobile-nav.open {
  display: block;
}

.mobile-nav ul {
  padding: 1rem;
}

.mobile-nav ul li {
  padding-bottom: 1rem;
}

.mobile-nav a {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  display: flex;
  justify-content: space-between;
  background: #000;
  padding: 1rem;
}


.logo-img {
  align-self: center;
}

.hamb-logo {
  cursor: pointer;
}

.hamburger svg {
  width: 1.7rem;
  color: blue;
  fill: white;
}

.hamburger svg path {
  color: red;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 48rem) {
  main {
    margin: 0 auto;
    max-width: 90%;
  }

  .hamb-logo {
    display: none;
  }

  .mobile-nav.open {
    display: unset;
  }

  .nav {
    flex-direction: row;
  }

  .mobile-nav {
    height: fit-content;
    position: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mobile-nav .open {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    list-style: none;
    display: block;
  }

  .mobile-nav ul {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
  }

  .mobile-nav ul li {
    padding-bottom: 1rem;
    list-style-type: none;
    font-size: 0.1rem;
  }

  .mobile-nav a {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
  }

  .mobile-nav a:hover {
    text-decoration: underline;
  }

  .mobile-open.nav svg {
    display: none;
  }


  .mobile-close {
    display: none;
  }
}

@media (min-width: 64rem) {
  main {
    max-width: 85%;
  }
}

@media (min-width: 90rem) {
  main {
    max-width: 80%;
  }
}

img {
  width: 100%;
}

.positivity {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.positivity svg {
  width: 10%;
  fill: green;
}

.positivity p {
  width: 85%;
}

.shopping-title h1 {
  text-align: center;
  padding: 1rem;
}

.shopping-title h2 {
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}

.plus-minus {
  padding: 1rem;
}

.minus-img img {
  width: 6rem;
  height: 10rem;
}

.plus-minus {
  display: flex;
  justify-content: space-between;
}

.minus-img {
  align-self: center;
}

.plus-minus-text p {
  color: #000;
}

.numbers p {
  color: #000;
  border: 1px solid #000;
  width: 2rem;
  text-align: center;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.sending {
  padding: 1rem;
}

.sending p {
  font-size: 1.2rem;
}

.button-send {
  padding: 1rem;
}

.button-send button {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: white;
  margin-bottom: 4rem;
}

.button-send button:hover {
  background-color: green;
  color: white;
}

.payment-icons {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}


.payment-icons img {
  width: 20%;
}

footer {
  background-color: #000;
  color: #fff;
}

.footer-row {
  max-width: 97rem;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .footer-row {
    display: flex;
    justify-content: space-between;
  }

  .shopping-title h1 {
    text-align: left;
  }

  .shopping-title h2 {
    text-align: left;
  }

  .small-images {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }

  .small-images img {
    width: 10rem;
    height: 10rem;
  }

  .sending {
    display: flex;
    justify-content: space-around;
  }

  .button-send button {
    width: 50%;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer-column h4 {
  margin-bottom: 0.5rem;
}

.footer-column h4:hover {
  text-decoration: underline;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul:last-child {
  margin-right: 1.5rem;
}

.footer-column ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}